<a href="https://colab.research.google.com/github/alexgirardet/Analyzing_Rightmove/blob/main/BigQuery_bquxjob_34b7e22_185344d170c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'ric-eu-dl-lz-dev-nprd' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=ric-eu-dl-lz-dev-nprd:EU:bquxjob_34b7e22_185344d170c)
back to BigQuery to edit the query within the BigQuery user interface.

In [3]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_34b7e22_185344d170c') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT
logName,
type,
project_id,
dataset_id,
location,
method,

jobInsertResponse.resource.jobStatus,
jobInsertResponse.resource.jobStatistics.createTime,
jobInsertResponse.resource.jobStatistics.startTime,
jobInsertResponse.resource.jobStatistics.endTime,
jobInsertResponse.resource.jobStatistics.billingTier,
jobInsertResponse.resource.jobStatistics.totalSlotMs,
jobInsertResponse.resource.jobStatistics.totalViewsProcessed,
jobInsertResponse.resource.jobName.jobId,
jobInsertResponse.resource.jobConfiguration.query.query,
jobInsertResponse.resource.jobStatistics.totalProcessedBytes,
jobInsertResponse.resource.jobStatistics.totalBilledBytes,

jobQueryResponse.job.jobStatus,
jobQueryResponse.job.jobStatistics.createTime,
jobQueryResponse.job.jobStatistics.startTime,
jobQueryResponse.job.jobStatistics.endTime,
jobQueryResponse.job.jobStatistics.billingTier,
jobQueryResponse.job.jobStatistics.totalSlotMs,
jobQueryResponse.job.jobStatistics.totalViewsProcessed,
jobQueryResponse.job.jobName.jobId,
jobQueryResponse.job.jobConfiguration.query.query,
jobQueryResponse.job.jobStatistics.totalProcessedBytes,
jobQueryResponse.job.jobStatistics.totalBilledBytes,

jobGetQueryResultsResponse.job.jobStatus,
jobGetQueryResultsResponse.job.jobStatistics.createTime,
jobGetQueryResultsResponse.job.jobStatistics.startTime,
jobGetQueryResultsResponse.job.jobStatistics.endTime,
jobGetQueryResultsResponse.job.jobStatistics.billingTier,
jobGetQueryResultsResponse.job.jobStatistics.totalSlotMs,
jobGetQueryResultsResponse.job.jobStatistics.totalViewsProcessed,
jobGetQueryResultsResponse.job.jobName.jobId,
jobGetQueryResultsResponse.job.jobConfiguration.query.query,
jobGetQueryResultsResponse.job.jobStatistics.totalProcessedBytes,
jobGetQueryResultsResponse.job.jobStatistics.totalBilledBytes

FROM `ric-eu-dl-lz-dev-nprd.alexsbx_billing_export.data_access_jobs`

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [4]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_24e2386e_18534563867') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (1226906) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_status,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
0,projects/vca-eu-datalake-ww-nprd/logs/cloudaud...,bigquery_resource,vca-eu-datalake-ww-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1,projects/vca-eu-datalake-ww-nprd/logs/cloudaud...,bigquery_resource,vca-eu-datalake-ww-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
2,projects/ric-eu-dl-cl-qal-prd/logs/cloudaudit....,bigquery_resource,ric-eu-dl-cl-qal-prd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
3,projects/ric-eu-dl-cl-rev-etl-prd/logs/cloudau...,bigquery_resource,ric-eu-dl-cl-rev-etl-prd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
4,projects/ric-eu-dl-iot-poc-dev-nprd/logs/cloud...,bigquery_resource,ric-eu-dl-iot-poc-dev-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226901,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226902,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226903,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_sap,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226904,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_sap_dyn,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226905,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>

In [7]:
results.columns

Index(['logName', 'type', 'project_id', 'dataset_id', 'location', 'method',
       'jobInsertResponse_status', 'jobInsertResponse_createTime',
       'jobInsertResponse_startTime', 'jobInsertResponse_endTime',
       'jobInsertResponse_billingTier', 'jobInsertResponse_totalSlotMs',
       'jobInsertResponse_totalViewsProcessed', 'jobInsertResponse_jobId',
       'jobInsertResponse_totalProcessedBytes',
       'jobInsertResponse_totalBilledBytes', 'jobQueryResponse_status',
       'jobQueryResponse_createTime', 'jobQueryResponse_startTime',
       'jobQueryResponse_endTime', 'jobQueryResponse_billingTier',
       'jobQueryResponse_totalSlotMs', 'jobQueryResponse_totalViewsProcessed',
       'jobQueryResponse_jobId', 'jobQueryResponse_totalProcessedBytes',
       'jobQueryResponse_totalBilledBytes',
       'jobGetQueryResultsResponse_status',
       'jobGetQueryResultsResponse_createTime',
       'jobGetQueryResultsResponse_startTime',
       'jobGetQueryResultsResponse_endTime',
       'jobGetQueryResultsResponse_billingTier',
       'jobGetQueryResultsResponse_totalSlotMs',
       'jobGetQueryResultsResponse_totalViewsProcessed',
       'jobGetQueryResultsResponse_jobId',
       'jobGetQueryResultsResponse_totalProcessedBytes',
       'jobGetQueryResultsResponse_totalBilledBytes'],
      dtype='object')

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

# Information schema Table

In [70]:
information_job = client.get_job('bquxjob_52dd90ad_1853429ff47') # Job ID inserted based on the query results selected to explore
information_results = information_job.to_dataframe()
information_results

Warning: total number of rows (35450) exceeds max_rows (20000). Falling back to pandas display.

,creation_time,project_id,job_id,job_type,statement_type,start_time,end_time,state,total_bytes_billed,total_bytes_processed,total_slot_ms
0,2022-12-13 06:00:46.389000+00:00,ric-eu-dl-ops-dev-nprd,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,QUERY,SELECT,2022-12-13 06:00:46.455000+00:00,2022-12-13 06:00:46.615000+00:00,DONE,0,0,33
1,2022-12-13 09:05:44.996000+00:00,ric-eu-dl-ops-dev-nprd,442faaf0-d0b0-47fd-9daf-157e80b58101,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 09:05:45.139000+00:00,2022-12-13 09:05:47.133000+00:00,DONE,0,0,19218
2,2022-12-13 12:42:34.410000+00:00,ric-eu-dl-ops-dev-nprd,46d02560-55c0-4d81-b3e4-6cba01acf92c,QUERY,MERGE,2022-12-13 12:42:34.602000+00:00,2022-12-13 12:42:38.430000+00:00,DONE,1609564160,1609302292,55132
3,2022-12-13 13:08:30.896000+00:00,ric-eu-dl-ops-dev-nprd,321b0de6-a945-4a96-a1d3-c4848a4d78d6,QUERY,SELECT,2022-12-13 13:08:30.964000+00:00,2022-12-13 13:08:31.124000+00:00,DONE,0,0,43
4,2022-12-13 11:02:37.449000+00:00,ric-eu-dl-ops-dev-nprd,bf2a74c4-68ca-432a-8b89-c7bee441fcdb,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 11:02:37.638000+00:00,2022-12-13 11:02:39.430000+00:00,DONE,10485760,1521494,17808
...,...,...,...,...,...,...,...,...,...,...,...
35445,2022-12-13 14:18:52.308000+00:00,ric-eu-dl-ops-dev-nprd,job_fz4KSGGqbdq5yDeJKqhbWZQ8mw9t,QUERY,SELECT,2022-12-13 14:18:52.348000+00:00,2022-12-13 14:18:52.534000+00:00,DONE,10485760,206180,59
35446,2022-12-13 14:40:45.045000+00:00,ric-eu-dl-ops-dev-nprd,job_9IyuGpaYhRz0Ar8sPp0SHR6Q-m9v,QUERY,SELECT,2022-12-13 14:40:45.068000+00:00,2022-12-13 14:40:45.258000+00:00,DONE,10485760,10485760,54
35447,2022-12-13 04:34:04.260000+00:00,ric-eu-dl-ops-dev-nprd,job_fcVzwy5L-iPU5ABqeVo6XdgqNoSR,QUERY,SELECT,2022-12-13 04:34:04.287000+00:00,2022-12-13 04:34:04.554000+00:00,DONE,10485760,10485760,108
35448,2022-12-13 05:53:13.549000+00:00,ric-eu-dl-ops-dev-nprd,job_nMWp-7wo2k6kDoLTV28Q7RKeMxzT,QUERY,SELECT,2022-12-13 05:53:13.610000+00:00,2022-12-13 05:53:13.791000+00:00,DONE,10485760,26,28
35449,2022-12-13 11:22:38.207000+00:00,ric-eu-dl-ops-dev-nprd,job_hbcxiRPzPGAZHusDyM86Fs4NI4ui,QUERY,SELECT,2022-12-13 11:22:38.237000+00:00,2022-12-13 11:22:38.481000+00:00,DONE,10485760,10485760,52

In [72]:
information_results['total_bytes_billed'].sum()

173920802045952

In [19]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

In [33]:
results_query = list(project_results['jobQueryResponse_jobId'])
results_insert = list(project_results['jobInsertResponse_jobId'])
results_results = list(project_results['jobGetQueryResultsResponse_jobId'])

(219752, 219752, 219752)

In [34]:
results_id = results_query + results_insert + results_results

In [98]:
filtered_ids = list(filter(None, results_id))
filtered_query_ids = list(filter(None, results_query))
filtered_insert_ids = list(filter(None, results_insert))
filtered_results_ids = list(filter(None, results_results))

In [99]:
len(filtered_query_ids), len(filtered_insert_ids), len(filtered_results_ids)

(23681, 11773, 26296)

In [100]:
len(filtered_ids)

61750

In [102]:
len(information_results_ids)

NameError: ignored

In [23]:
information_results_ids = list(information_results['job_id'])

In [24]:
filtered_information_ids = list(filter(None, information_results_ids))

In [30]:
missing_query_ids = [x for x in information_results_ids if x not in filtered_query_ids]

In [31]:
len(missing_query_ids)

23679

In [32]:
missing_insert_ids = [x for x in information_results_ids if x not in filtered_insert_ids]

In [33]:
len(missing_insert_ids)

11771

In [34]:
missing_results_ids = [x for x in information_results_ids if x not in filtered_results_ids]

In [35]:
len(missing_results_ids)

14642

In [36]:
insert_request_ids = filtered_query_ids + filtered_insert_ids

In [37]:
missing_query_insert_ids = [x for x in information_results_ids if x not in insert_request_ids]

In [38]:
len(missing_query_insert_ids)

0

A combination of insert and query makes the table.

# Insert and Query Table to replicate information_schema Table

In [6]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

In [8]:
project_results['jobInsertResponse_jobId']

32640      None
32641      None
32642      None
32643      None
32644      None
           ...
1200645    None
1200646    None
1200647    None
1200648    None
1200649    None
Name: jobInsertResponse_jobId, Length: 219752, dtype: object

In [12]:
project_results[project_results['jobInsertResponse_jobId'] == None]

Warning: Total number of columns (36) exceeds max_columns (20). Falling back to pandas display.

Empty DataFrame
Columns: [logName, type, project_id, dataset_id, location, method, jobInsertResponse_status, jobInsertResponse_createTime, jobInsertResponse_startTime, jobInsertResponse_endTime, jobInsertResponse_billingTier, jobInsertResponse_totalSlotMs, jobInsertResponse_totalViewsProcessed, jobInsertResponse_jobId, jobInsertResponse_totalProcessedBytes, jobInsertResponse_totalBilledBytes, jobQueryResponse_status, jobQueryResponse_createTime, jobQueryResponse_startTime, jobQueryResponse_endTime, jobQueryResponse_billingTier, jobQueryResponse_totalSlotMs, jobQueryResponse_totalViewsProcessed, jobQueryResponse_jobId, jobQueryResponse_totalProcessedBytes, jobQueryResponse_totalBilledBytes, jobGetQueryResultsResponse_status, jobGetQueryResultsResponse_createTime, jobGetQueryResultsResponse_startTime, jobGetQueryResultsResponse_endTime, jobGetQueryResultsResponse_billingTier, jobGetQueryResultsResponse_totalSlotMs, jobGetQueryResultsResponse_totalViewsProcessed, jobGetQueryResultsResponse_jobId, jobGetQueryResultsResponse_totalProcessedBytes, jobGetQueryResultsResponse_totalBilledBytes]
Index: []

[0 rows x 36 columns]

In [61]:
import numpy as np
import pandas as pd

In [48]:
project_results = project_results.fillna(np.nan)

In [59]:
project_queries = project_results.dropna(subset=['jobQueryResponse_jobId'])

In [56]:
project_results.dropna(subset=['jobInsertResponse_jobId'])

Warning: Total number of columns (36) exceeds max_columns (20). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_status,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
34905,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 09:01:34.087000+00:00,2022-12-13 09:01:34.228000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
34906,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 05:36:10.366000+00:00,2022-12-13 05:36:10.547000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
34907,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 00:01:52.212000+00:00,2022-12-13 00:01:52.397000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
34910,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'DONE', 'error': None, 'additionalEr...",2022-12-13 06:02:32.645000+00:00,2022-12-13 06:02:32.714000+00:00,2022-12-13 06:02:33.949000+00:00,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
34911,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 04:02:28.371000+00:00,2022-12-13 04:02:28.565000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190945,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'DONE', 'error': None, 'additionalEr...",2022-12-13 09:17:23.511000+00:00,2022-12-13 09:17:23.574000+00:00,2022-12-13 09:17:23.996000+00:00,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
1190946,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:12:01.266000+00:00,2022-12-13 14:12:01.323000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
1190947,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 08:52:44.526000+00:00,2022-12-13 08:52:44.629000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
1190948,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 11:42:53.420000+00:00,2022-12-13 11:42:53.582000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
1190949,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.insert,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 05:34:39.339000+00:00,2022-12-13 05:34:39.485000+00:00,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>

In [60]:
project_inserts = project_results[project_results['jobInsertResponse_jobId'] != np.nan]

In [65]:
insert_query_df = pd.concat([project_inserts, project_queries ]).reset_index(drop=True)

In [74]:
insert_query_df

Warning: total number of rows (243433) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_status,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
0,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
1,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
2,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
3,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
4,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243428,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
243429,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
243430,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
243431,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>
243432,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,NaN,NaN,jobservice.query,NaN,NaT,NaT,NaT,...,NaN,NaT,NaT,NaT,<NA>,<NA>,<NA>,NaN,<NA>,<NA>

In [83]:
project_results = project_results.drop(columns=['jobQueryResponse_status', 'jobGetQueryResultsResponse_status',  'jobInsertResponse_status']).drop_duplicates()

In [84]:
project_results['jobInsertResponse_totalBilledBytes'].sum()

2620075802624

In [85]:
project_results['jobQueryResponse_totalBilledBytes'].sum()

92264202240

In [86]:
project_results['jobGetQueryResultsResponse_totalBilledBytes'].sum()

173063577534464

In [90]:
project_results[project_results['jobGetQueryResultsResponse_totalBilledBytes'] > 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17425 entries, 37874 to 1194564
Data columns (total 33 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   logName                                         17425 non-null  object
 1   type                                            17425 non-null  object
 2   project_id                                      17425 non-null  object
 3   dataset_id                                      0 non-null      object
 4   location                                        0 non-null      object
 5   method                                          17425 non-null  object
 6   jobInsertResponse_createTime                    0 non-null      datetime64[ns, UTC]
 7   jobInsertResponse_startTime                     0 non-null      datetime64[ns, UTC]
 8   jobInsertResponse_endTime                       0 non-null      datetime64[ns, UTC]
 9   jobInsertResponse_billingTier                   0 non-null      Int64
 10  jobInsertResponse_totalSlotMs                   0 non-null      Int64
 11  jobInsertResponse_totalViewsProcessed           0 non-null      Int64
 12  jobInsertResponse_jobId                         0 non-null      object
 13  jobInsertResponse_totalProcessedBytes           0 non-null      Int64
 14  jobInsertResponse_totalBilledBytes              0 non-null      Int64
 15  jobQueryResponse_createTime                     0 non-null      datetime64[ns, UTC]
 16  jobQueryResponse_startTime                      0 non-null      datetime64[ns, UTC]
 17  jobQueryResponse_endTime                        0 non-null      datetime64[ns, UTC]
 18  jobQueryResponse_billingTier                    0 non-null      Int64
 19  jobQueryResponse_totalSlotMs                    0 non-null      Int64
 20  jobQueryResponse_totalViewsProcessed            0 non-null      Int64
 21  jobQueryResponse_jobId                          0 non-null      object
 22  jobQueryResponse_totalProcessedBytes            0 non-null      Int64
 23  jobQueryResponse_totalBilledBytes               0 non-null      Int64
 24  jobGetQueryResultsResponse_createTime           17425 non-null  datetime64[ns, UTC]
 25  jobGetQueryResultsResponse_startTime            17425 non-null  datetime64[ns, UTC]
 26  jobGetQueryResultsResponse_endTime              17385 non-null  datetime64[ns, UTC]
 27  jobGetQueryResultsResponse_billingTier          17213 non-null  Int64
 28  jobGetQueryResultsResponse_totalSlotMs          17385 non-null  Int64
 29  jobGetQueryResultsResponse_totalViewsProcessed  958 non-null    Int64
 30  jobGetQueryResultsResponse_jobId                17425 non-null  object
 31  jobGetQueryResultsResponse_totalProcessedBytes  17425 non-null  Int64
 32  jobGetQueryResultsResponse_totalBilledBytes     17425 non-null  Int64
dtypes: Int64(15), datetime64[ns, UTC](9), object(9)
memory usage: 4.8+ MB

In [91]:
project_results[project_results['jobQueryResponse_totalBilledBytes'] > 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8799 entries, 32643 to 1190106
Data columns (total 33 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   logName                                         8799 non-null   object
 1   type                                            8799 non-null   object
 2   project_id                                      8799 non-null   object
 3   dataset_id                                      0 non-null      object
 4   location                                        0 non-null      object
 5   method                                          8799 non-null   object
 6   jobInsertResponse_createTime                    0 non-null      datetime64[ns, UTC]
 7   jobInsertResponse_startTime                     0 non-null      datetime64[ns, UTC]
 8   jobInsertResponse_endTime                       0 non-null      datetime64[ns, UTC]
 9   jobInsertResponse_billingTier                   0 non-null      Int64
 10  jobInsertResponse_totalSlotMs                   0 non-null      Int64
 11  jobInsertResponse_totalViewsProcessed           0 non-null      Int64
 12  jobInsertResponse_jobId                         0 non-null      object
 13  jobInsertResponse_totalProcessedBytes           0 non-null      Int64
 14  jobInsertResponse_totalBilledBytes              0 non-null      Int64
 15  jobQueryResponse_createTime                     8799 non-null   datetime64[ns, UTC]
 16  jobQueryResponse_startTime                      8799 non-null   datetime64[ns, UTC]
 17  jobQueryResponse_endTime                        8799 non-null   datetime64[ns, UTC]
 18  jobQueryResponse_billingTier                    8799 non-null   Int64
 19  jobQueryResponse_totalSlotMs                    8799 non-null   Int64
 20  jobQueryResponse_totalViewsProcessed            0 non-null      Int64
 21  jobQueryResponse_jobId                          8799 non-null   object
 22  jobQueryResponse_totalProcessedBytes            8799 non-null   Int64
 23  jobQueryResponse_totalBilledBytes               8799 non-null   Int64
 24  jobGetQueryResultsResponse_createTime           0 non-null      datetime64[ns, UTC]
 25  jobGetQueryResultsResponse_startTime            0 non-null      datetime64[ns, UTC]
 26  jobGetQueryResultsResponse_endTime              0 non-null      datetime64[ns, UTC]
 27  jobGetQueryResultsResponse_billingTier          0 non-null      Int64
 28  jobGetQueryResultsResponse_totalSlotMs          0 non-null      Int64
 29  jobGetQueryResultsResponse_totalViewsProcessed  0 non-null      Int64
 30  jobGetQueryResultsResponse_jobId                0 non-null      object
 31  jobGetQueryResultsResponse_totalProcessedBytes  0 non-null      Int64
 32  jobGetQueryResultsResponse_totalBilledBytes     0 non-null      Int64
dtypes: Int64(15), datetime64[ns, UTC](9), object(9)
memory usage: 2.4+ MB

In [92]:
project_results[project_results['jobInsertResponse_totalBilledBytes'] > 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1387 entries, 34910 to 1190934
Data columns (total 33 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   logName                                         1387 non-null   object
 1   type                                            1387 non-null   object
 2   project_id                                      1387 non-null   object
 3   dataset_id                                      0 non-null      object
 4   location                                        0 non-null      object
 5   method                                          1387 non-null   object
 6   jobInsertResponse_createTime                    1387 non-null   datetime64[ns, UTC]
 7   jobInsertResponse_startTime                     1387 non-null   datetime64[ns, UTC]
 8   jobInsertResponse_endTime                       1387 non-null   datetime64[ns, UTC]
 9   jobInsertResponse_billingTier                   1387 non-null   Int64
 10  jobInsertResponse_totalSlotMs                   1387 non-null   Int64
 11  jobInsertResponse_totalViewsProcessed           1 non-null      Int64
 12  jobInsertResponse_jobId                         1387 non-null   object
 13  jobInsertResponse_totalProcessedBytes           1387 non-null   Int64
 14  jobInsertResponse_totalBilledBytes              1387 non-null   Int64
 15  jobQueryResponse_createTime                     0 non-null      datetime64[ns, UTC]
 16  jobQueryResponse_startTime                      0 non-null      datetime64[ns, UTC]
 17  jobQueryResponse_endTime                        0 non-null      datetime64[ns, UTC]
 18  jobQueryResponse_billingTier                    0 non-null      Int64
 19  jobQueryResponse_totalSlotMs                    0 non-null      Int64
 20  jobQueryResponse_totalViewsProcessed            0 non-null      Int64
 21  jobQueryResponse_jobId                          0 non-null      object
 22  jobQueryResponse_totalProcessedBytes            0 non-null      Int64
 23  jobQueryResponse_totalBilledBytes               0 non-null      Int64
 24  jobGetQueryResultsResponse_createTime           0 non-null      datetime64[ns, UTC]
 25  jobGetQueryResultsResponse_startTime            0 non-null      datetime64[ns, UTC]
 26  jobGetQueryResultsResponse_endTime              0 non-null      datetime64[ns, UTC]
 27  jobGetQueryResultsResponse_billingTier          0 non-null      Int64
 28  jobGetQueryResultsResponse_totalSlotMs          0 non-null      Int64
 29  jobGetQueryResultsResponse_totalViewsProcessed  0 non-null      Int64
 30  jobGetQueryResultsResponse_jobId                0 non-null      object
 31  jobGetQueryResultsResponse_totalProcessedBytes  0 non-null      Int64
 32  jobGetQueryResultsResponse_totalBilledBytes     0 non-null      Int64
dtypes: Int64(15), datetime64[ns, UTC](9), object(9)
memory usage: 388.7+ KB

In [87]:
173063577534464 + 92264202240 + 2620075802624

175775917539328

In [75]:
insert_query_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243433 entries, 0 to 243432
Data columns (total 36 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   logName                                         243433 non-null  object
 1   type                                            243433 non-null  object
 2   project_id                                      243433 non-null  object
 3   dataset_id                                      33766 non-null   object
 4   location                                        70903 non-null   object
 5   method                                          243433 non-null  object
 6   jobInsertResponse_status                        14019 non-null   object
 7   jobInsertResponse_createTime                    13818 non-null   datetime64[ns, UTC]
 8   jobInsertResponse_startTime                     11773 non-null   datetime64[ns, UTC]
 9   jobInsertResponse_endTime                       1984 non-null    datetime64[ns, UTC]
 10  jobInsertResponse_billingTier                   1387 non-null    Int64
 11  jobInsertResponse_totalSlotMs                   1733 non-null    Int64
 12  jobInsertResponse_totalViewsProcessed           18 non-null      Int64
 13  jobInsertResponse_jobId                         11773 non-null   object
 14  jobInsertResponse_totalProcessedBytes           3312 non-null    Int64
 15  jobInsertResponse_totalBilledBytes              1387 non-null    Int64
 16  jobQueryResponse_status                         62917 non-null   object
 17  jobQueryResponse_createTime                     62917 non-null   datetime64[ns, UTC]
 18  jobQueryResponse_startTime                      47362 non-null   datetime64[ns, UTC]
 19  jobQueryResponse_endTime                        28422 non-null   datetime64[ns, UTC]
 20  jobQueryResponse_billingTier                    17598 non-null   Int64
 21  jobQueryResponse_totalSlotMs                    29302 non-null   Int64
 22  jobQueryResponse_totalViewsProcessed            0 non-null       Int64
 23  jobQueryResponse_jobId                          47362 non-null   object
 24  jobQueryResponse_totalProcessedBytes            26503 non-null   Int64
 25  jobQueryResponse_totalBilledBytes               17598 non-null   Int64
 26  jobGetQueryResultsResponse_status               26296 non-null   object
 27  jobGetQueryResultsResponse_createTime           26296 non-null   datetime64[ns, UTC]
 28  jobGetQueryResultsResponse_startTime            26296 non-null   datetime64[ns, UTC]
 29  jobGetQueryResultsResponse_endTime              22907 non-null   datetime64[ns, UTC]
 30  jobGetQueryResultsResponse_billingTier          19128 non-null   Int64
 31  jobGetQueryResultsResponse_totalSlotMs          23629 non-null   Int64
 32  jobGetQueryResultsResponse_totalViewsProcessed  1049 non-null    Int64
 33  jobGetQueryResultsResponse_jobId                26296 non-null   object
 34  jobGetQueryResultsResponse_totalProcessedBytes  19359 non-null   Int64
 35  jobGetQueryResultsResponse_totalBilledBytes     19359 non-null   Int64
dtypes: Int64(15), datetime64[ns, UTC](9), object(12)
memory usage: 70.3+ MB

In [78]:
2620075802624 + 92264202240

2712340004864

In [73]:
information_results['total_bytes_billed'].sum()

173920802045952

In [93]:
175775917539328 - 173920802045952

1855115493376

In [103]:
173920802045952 / (175775917539328 + 173920802045952)

0.4973475366088992

# ID ANALYSIS

We know these are mutually exclusive

In [104]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

In [145]:
project_results_ids = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId', 'jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']]

In [146]:
project_results_ids_cut = project_results_ids.drop_duplicates()

In [140]:
def handle_ids(x):
  count = 0

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return 'query_result'
  elif query is not None:
    return 'query'
  elif insert is not None:
    return 'insert'

In [117]:
def return_ids(x):
  count = 0

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return query_results
  elif query is not None:
    return query
  elif insert is not None:
    return insert

In [186]:
def return_bytes(x):
  count = 0

  query_results = str(x[0])
  query = str(x[1])
  insert = str(x[2])

  if query_results != '<NA>':
    return query_results
  elif query != '<NA>':
    return query
  elif insert != '<NA>':
    return insert
  else:
    return np.nan

In [147]:
project_results_ids['owner'] = project_results_ids[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

<ipython-input-147-afb326f40866>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results_ids['owner'] = project_results_ids[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

In [148]:
project_results_ids['id'] = project_results_ids[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

<ipython-input-148-7862657dd648>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results_ids['id'] = project_results_ids[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

In [187]:
project_results_ids['bytes'] = project_results_ids[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

<ipython-input-187-7e4a76943696>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results_ids['bytes'] = project_results_ids[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

In [178]:
project_results_ids

Warning: total number of rows (219752) exceeds max_rows (20000). Falling back to pandas display.

,jobGetQueryResultsResponse_jobId,jobQueryResponse_jobId,jobInsertResponse_jobId,jobGetQueryResultsResponse_totalBilledBytes,jobQueryResponse_totalBilledBytes,jobInsertResponse_totalBilledBytes,owner,id,bytes
32640,None,job_q4NogfOJihLss-iP47mN5GVq5oNs,None,<NA>,<NA>,<NA>,query,job_q4NogfOJihLss-iP47mN5GVq5oNs,None
32641,None,None,None,<NA>,<NA>,<NA>,None,None,None
32642,None,job_vEK9oS12GxmwiN4P8Bgv82dOzU5D,None,<NA>,<NA>,<NA>,query,job_vEK9oS12GxmwiN4P8Bgv82dOzU5D,None
32643,None,job_yOvlIKfSaOqc_uvc_UV1QCACyjIA,None,<NA>,10485760,<NA>,query,job_yOvlIKfSaOqc_uvc_UV1QCACyjIA,10485760
32644,None,job_86sVVXgeDYzw2DztCBAkJoNcCb23,None,<NA>,10485760,<NA>,query,job_86sVVXgeDYzw2DztCBAkJoNcCb23,10485760
...,...,...,...,...,...,...,...,...,...
1200645,None,None,None,<NA>,<NA>,<NA>,None,None,None
1200646,None,None,None,<NA>,<NA>,<NA>,None,None,None
1200647,None,None,None,<NA>,<NA>,<NA>,None,None,None
1200648,None,None,None,<NA>,<NA>,<NA>,None,None,None
1200649,None,None,None,<NA>,<NA>,<NA>,None,None,None

In [190]:
project_results_ids_cut = project_results_ids.drop_duplicates()

In [211]:
information_results['total_bytes_billed'].sum()

173920802045952

In [202]:
project_results_ids_cut[project_results_ids_cut.duplicated(subset=['id'])]

Warning: total number of rows (22393) exceeds max_rows (20000). Falling back to pandas display.

,jobGetQueryResultsResponse_jobId,jobQueryResponse_jobId,jobInsertResponse_jobId,jobGetQueryResultsResponse_totalBilledBytes,jobQueryResponse_totalBilledBytes,jobInsertResponse_totalBilledBytes,owner,id,bytes
37885,job_la_NWaSvwJXbNcdpf1D2jcQYoxYV,None,None,<NA>,<NA>,<NA>,query_result,job_la_NWaSvwJXbNcdpf1D2jcQYoxYV,NaN
37886,7844610b-2cc3-4418-959b-6cbdf0766cec,None,None,<NA>,<NA>,<NA>,query_result,7844610b-2cc3-4418-959b-6cbdf0766cec,NaN
37902,job_PE3tH04j3AX-EsJqVXlmZra3rqVa,None,None,20971520,<NA>,<NA>,query_result,job_PE3tH04j3AX-EsJqVXlmZra3rqVa,20971520
37934,6c0b979d-6c80-4300-a4a9-41f4aa40ad84,None,None,<NA>,<NA>,<NA>,query_result,6c0b979d-6c80-4300-a4a9-41f4aa40ad84,NaN
37938,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,None,None,64961380352,<NA>,<NA>,query_result,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,64961380352
...,...,...,...,...,...,...,...,...,...
1194559,bqOdbcJob_6d4b3b23158c4e6ab01f55af45878fb1,None,None,10485760,<NA>,<NA>,query_result,bqOdbcJob_6d4b3b23158c4e6ab01f55af45878fb1,10485760
1194560,18fdc438-3835-46cb-a32c-c9394822d37a,None,None,22181576704,<NA>,<NA>,query_result,18fdc438-3835-46cb-a32c-c9394822d37a,22181576704
1194561,d87e4748-d1a2-4f0a-ac5e-88afca693281,None,None,<NA>,<NA>,<NA>,query_result,d87e4748-d1a2-4f0a-ac5e-88afca693281,NaN
1194563,e1d89595-6f1e-4210-8dbc-3dd329c7b921,None,None,<NA>,<NA>,<NA>,query_result,e1d89595-6f1e-4210-8dbc-3dd329c7b921,NaN
1194564,job_KZ3UAJkdswEy58b5cxeROnrAIoOf,None,None,20971520,<NA>,<NA>,query_result,job_KZ3UAJkdswEy58b5cxeROnrAIoOf,20971520

In [206]:
project_results_ids_cut[project_results_ids_cut['id'] == '68ea48d5-87b2-4f0e-a071-792a72a1aa4e']

,jobGetQueryResultsResponse_jobId,jobQueryResponse_jobId,jobInsertResponse_jobId,jobGetQueryResultsResponse_totalBilledBytes,jobQueryResponse_totalBilledBytes,jobInsertResponse_totalBilledBytes,owner,id,bytes
35188,None,None,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,<NA>,<NA>,<NA>,insert,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,NaN
37938,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,None,None,64961380352,<NA>,<NA>,query_result,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,64961380352
110266,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,None,None,<NA>,<NA>,<NA>,query_result,68ea48d5-87b2-4f0e-a071-792a72a1aa4e,NaN

In [212]:
cleaned_queries = project_results_ids_cut[project_results_ids_cut['owner'] != 'query_result']
cleaned_q_r = project_results_ids_cut[project_results_ids_cut['owner'] == 'query_result']

In [207]:
cleaned = project_results_ids_cut[project_results_ids_cut.id.isin(information_results_ids)].drop_duplicates(subset=['id', 'bytes'])

In [218]:
getqueryresults_id = list(cleaned_q_r['jobGetQueryResultsResponse_jobId'])

In [219]:
cleaned_queries_cleaned = cleaned_queries[cleaned_queries.id.isin(getqueryresults_id)]

In [229]:
cleaned_queries_cleaned.sort_values(by='bytes').drop_duplicates(subset=['id'])

Warning: total number of rows (20808) exceeds max_rows (20000). Falling back to pandas display.

,jobGetQueryResultsResponse_jobId,jobQueryResponse_jobId,jobInsertResponse_jobId,jobGetQueryResultsResponse_totalBilledBytes,jobQueryResponse_totalBilledBytes,jobInsertResponse_totalBilledBytes,owner,id,bytes
829503,None,None,eef34fbf-b195-4d36-9c73-36b6aaec82f3,<NA>,<NA>,10308550656,insert,eef34fbf-b195-4d36-9c73-36b6aaec82f3,10308550656
324796,None,None,7086d761-54c2-4a7b-bc3c-50caaeddc131,<NA>,<NA>,10308550656,insert,7086d761-54c2-4a7b-bc3c-50caaeddc131,10308550656
468995,None,None,af14861d-89ab-4915-ac9b-162307e4582a,<NA>,<NA>,10308550656,insert,af14861d-89ab-4915-ac9b-162307e4582a,10308550656
685330,None,None,5ca9efb5-7542-4c79-acfd-524a9606525f,<NA>,<NA>,10308550656,insert,5ca9efb5-7542-4c79-acfd-524a9606525f,10308550656
324133,None,None,07ba1c44-f561-4978-8169-1e7bc9a94cac,<NA>,<NA>,10308550656,insert,07ba1c44-f561-4978-8169-1e7bc9a94cac,10308550656
...,...,...,...,...,...,...,...,...,...
1190945,None,None,script_job_bb305229f7bdb8ce062ca45104ca1e08_1,<NA>,<NA>,<NA>,insert,script_job_bb305229f7bdb8ce062ca45104ca1e08_1,NaN
1190946,None,None,script_job_5632ae4aa5629d2688d93797388e7b81_3,<NA>,<NA>,<NA>,insert,script_job_5632ae4aa5629d2688d93797388e7b81_3,NaN
1190947,None,None,5b974c25-523d-40ee-aa78-055a4782bab7,<NA>,<NA>,<NA>,insert,5b974c25-523d-40ee-aa78-055a4782bab7,NaN
1190948,None,None,script_job_0c134179841b9e37478b7f22c296bee4_2,<NA>,<NA>,<NA>,insert,script_job_0c134179841b9e37478b7f22c296bee4_2,NaN
1190949,None,None,bqOdbcJob_925cdb402fd74548a62a442176491291,<NA>,<NA>,<NA>,insert,bqOdbcJob_925cdb402fd74548a62a442176491291,NaN

In [223]:
pd.to_numeric(cleaned_queries_cleaned['bytes']).sum()

2620075802624.0

Queries are only duplicated across query types

In [210]:
pd.to_numeric(cleaned['bytes']).sum()

173155831250944.0

In [ ]:
for row in information_results.itertuples():
  job_id = row['job_id']
  resulting_df = project_results_ids[project_results_ids['id'] == job_id]
  return resulting_df.shape[0]

In [122]:
def return_ids_count(job_id):
  resulting_df = project_results_ids[project_results_ids['id'] == job_id]
  return resulting_df.shape[0]

In [123]:
information_results['count'] = information_results['job_id'].apply(return_ids_count)

KeyboardInterrupt: ignored

In [ ]:
for row in information_results.itertuples():
  job_id = row['job_id']
  resulting_df = project_results_ids[project_results_ids['id'] == job_id]
  return resulting_df.shape[0]